<h1>Editing Analytics Train Sample</h1>

<%= render 'form', analytics_train_sample: @analytics_train_sample %>

<%= link_to 'Show', @analytics_train_sample %> |
<%= link_to 'Back', analytics_train_samples_path %>
