<h1>Editing Assignfeedback Editpdf Cmnt</h1>

<%= render 'form', assignfeedback_editpdf_cmnt: @assignfeedback_editpdf_cmnt %>

<%= link_to 'Show', @assignfeedback_editpdf_cmnt %> |
<%= link_to 'Back', assignfeedback_editpdf_cmnts_path %>
