<h1>Editing Assign Plugin Config</h1>

<%= render 'form', assign_plugin_config: @assign_plugin_config %>

<%= link_to 'Show', @assign_plugin_config %> |
<%= link_to 'Back', assign_plugin_configs_path %>
