<h1>Editing Editor Atto Autosafe</h1>

<%= render 'form', editor_atto_autosafe: @editor_atto_autosafe %>

<%= link_to 'Show', @editor_atto_autosafe %> |
<%= link_to 'Back', editor_atto_autosaves_path %>
