<h1>Editing Analytics Used Analysable</h1>

<%= render 'form', analytics_used_analysable: @analytics_used_analysable %>

<%= link_to 'Show', @analytics_used_analysable %> |
<%= link_to 'Back', analytics_used_analysables_path %>
