<h1>Editing Analytics Predict Sample</h1>

<%= render 'form', analytics_predict_sample: @analytics_predict_sample %>

<%= link_to 'Show', @analytics_predict_sample %> |
<%= link_to 'Back', analytics_predict_samples_path %>
