<h1>Editing Assignfeedback Editpdf Annot</h1>

<%= render 'form', assignfeedback_editpdf_annot: @assignfeedback_editpdf_annot %>

<%= link_to 'Show', @assignfeedback_editpdf_annot %> |
<%= link_to 'Back', assignfeedback_editpdf_annots_path %>
