<h1>Editing Assignfeedback Editpdf Quick</h1>

<%= render 'form', assignfeedback_editpdf_quick: @assignfeedback_editpdf_quick %>

<%= link_to 'Show', @assignfeedback_editpdf_quick %> |
<%= link_to 'Back', assignfeedback_editpdf_quicks_path %>
